
third_party/abseil-cpp/absl/strings/internal/append_and_overwrite.h
third_party/abseil-cpp/CMake/AbseilDll.cmake
third_party/depend_on_what_you_use/dwyu/apply_fixes/bazel_query.py
third_party/depend_on_what_you_use/dwyu/apply_fixes/search_missing_deps.py
third_party/depend_on_what_you_use/dwyu/apply_fixes/test/search_missing_deps_test.py
third_party/depend_on_what_you_use/MODULE.bazel
third_party/depend_on_what_you_use/test/apply_fixes/missing_dependency/test_fail_on_ambiguous_dep_resolution.py
third_party/depend_on_what_you_use/test/apply_fixes/missing_dependency/test_fail_on_invisible_dep.py
third_party/depend_on_what_you_use/test/apply_fixes/missing_dependency/test_fail_on_unavailable_include.py
third_party/depend_on_what_you_use/test/apply_fixes/missing_dependency/workspace/BUILD
third_party/depend_on_what_you_use/test/apply_fixes/missing_dependency/workspace/libs/BUILD
third_party/depend_on_what_you_use/test/apply_fixes/missing_dependency/workspace/libs/private.h
third_party/depend_on_what_you_use/test/apply_fixes/missing_dependency/workspace/use_invisible_lib.cpp
third_party/depend_on_what_you_use/test/apply_fixes/tool_cli/test_fail_if_no_fix_option_is_provided.py
third_party/fmt/.github/workflows/cifuzz.yml
third_party/fmt/.github/workflows/scorecard.yml
third_party/software-bill-of-materials.md
